<%- include('header.ejs') %>


  <h1>Admin</h1>
  <p><a href="admin/add">Add a staff</a></p>
  <p><a href="admin/delete">Delete a staff</a></p>
  <p><a href="admin/change">Change staff password</a></p>
  
    
<%- include('footer.ejs') %> 