<%- include('header.ejs') %> 
<% const code = error_code || 'N/A'; %>
<% const msg = message || 'N/A'; %>

  <h1>Reset a staff password</h1>
    <form action="/admin/delete" method="POST">
      Username<input type="text" id="username" name="username" required><br>
      Full name<input type="text" id="fullname" name="fullname" required><br>
      New password<input type="password" id="new_password" name="new_password" required><br>
      <input type="submit" value="Reset">
    </form>

    <br>
    <% if(code !== 'N/A') { %>
      <p>Error ID: <%= code %></p> 
   <% } %>

  <% if(msg !== 'N/A') { %>
     <p><%= msg %></p> 
   <% } %>
<%- include('footer.ejs') %> 