<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    </title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav>
        <h1>Book store</h1>
        <% if (username !==null) { %>
            <a href="/staff">Books</a> |
            <a href="/search">Search</a> |
            <a href="/create">Create</a> |
        <% } %>

        <% if (username !==null) { %>
            <span id="username">
                <span class="logout">
                Login as <span class="username"><%=username%></span> | 
                <a href="/logout">Logout</a> |
                <a href="/profile">Profile</a> |
            </span>
        <% } else { %>
            <span class="logout">
                Hello visitor | <a href="/login">Login</a> | <a href="/Register">Register</a>
            </span>
        <% } %>
    </nav>