<%- include('header.ejs') %> 
<% const code = error_code || 'N/A'; %>
<% const msg = message || 'N/A'; %>

  <h1>Insert a new staff</h1>
    <form action="/admin/add" method="POST">
      Username<input type="text" id="username" name="username" required><br>
      Full name<input type="text" id="fullname" name="fullname" required><br>
      Password<input type="password" name="password" id="password" required><br>
      <input type="submit" value="Insert">
    </form>

    <br>
    <% if(code !== 'N/A') { %>
       <p>Error ID: <%= code %></p> 
    <% } %>

   <% if(msg !== 'N/A') { %>
      <p><%= msg %></p> 
    <% } %>
<%- include('footer.ejs') %> 