<%- include('header.ejs') %> 

    <form action="/register" method="POST">
      Email<input type="text" id="email" name="email">
      Username<input type="text" id="username" name="username">
      Password<input type="password" name="password" id="password">
      <input type="submit" value="Register">
    </form>
    
<%- include('footer.ejs') %> 